#header {
  text-align: center;
  border-bottom: 2px solid black;
}


body {
  background-color: rgb(255, 209, 216);
  font-family: 'Bitter', serif;
}

.skills {
  border-bottom: 1px solid black
}

.softSkills {
  font-size: 13px;
}

.workExperience {
  border-bottom: 1px solid black
}

h6 {
  margin: 0px;
}
